{% extends'base.html.twig' %}

{% block title %}

    <title>prooo</title>

{% endblock %}

{% block content %}

    <div class="row">

        {% for product in products %}

            <div class="col-sm-4 bg-danger">

                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title">{{ product }}</h5>

                        <p class="card-text">more...</p>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}